<div class= "container">
<h1>Ready to Eat</h1>

<ul>
  {{#each burger}}
    {{#unless devourBurger}}
      {{> burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers to Go!</h2>

<ul>
  {{#each burger}}
    {{#if devourBurger}}
      {{> burger-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Are you Hungry?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">What is your burger order?</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Hungry?</label><br>
    <input type="radio" name="devour" value="1" checked> Yes!<br>
    <input type="radio" name="devour" value="0"> I'll take my Burger to go, thank you.
  </div>

  <br>

  <button class="submit">Add Burger</button>

  <br>

  {{!-- <button type="delete">Delete Burger</button> --}}
    
</form>

</div>