body {
  background-image: url("../img/burger.jpg");
  background-repeat: no-repeat;
  height: 100% !important;
  width: 90% !important;
  border: solid 7px green;
  align-items: right;
}
li {
    padding: 5px;
    margin: 5px;
    background: #e6e47f;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

/* img {
  width: 28%;
  height: 35%;
  flex-wrap: wrap-reverse;
  float: right;
  margin: solid 2px black !important;
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  position: fixed;
  margin-left: 35% !important;
} */

.container {
  margin: 8% 1%;
  width: 330px;
  border: solid 4px rgb(27, 121, 24);
  background-color: whitesmoke;
  text-align: auto;
}

.submit {
  background-color: rgb(219, 219, 71);
  border-radius: 5px;
  text-align: right;
  padding: 8px;
}

